/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* Variables CSS */
:root {
    /* color */
    --first-color: hsl(160, 100%, 25%);
    --firsr-color-bright: hsl(160, 100%, 40%);
    --second-color: hsl(339, 77%, 59%);
    --third-color: hsl(42, 87%, 52%);
    --title-color: hsl(160, 0%, 0%);
    --text-color: hsl(160, 0%, 47%);
    --body-color: #fff;
    --container-color: #fff;

    /* font */
    --body-font: 'Noto Sans KR', sans-serif;
    --biggest-font-size: 2.25rem; /* 36px */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;

    /* font weight */
    --font-medium: 500;
    --font-bold: 700;

    /* z-index */
    --z-index: 100;
}

/* BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: var(var(--body-font));
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}
h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--title-color);
}
img {
    max-width: 100%; /* 이미지보다 창 크기가 작아져도 이미지를 완전히 유지하며 축소 */
    height: auto; /* 기본값*/
}

/* nav */
.container {
    margin-left: 1rem; /* = 16px */
    margin-right: 1rem;
}

header {
    background-color: var(--first-color);
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
    /* visibility: hidden; 보이지 않지만, 자리는 차지함 */
}

.nav-toggle i {
    color: #fff;
}

nav i {
    font-size: 1.25rem; /* 아이콘 1.25배 */
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-list {
    display: flex;
    column-gap: 0.75rem; /* 12px */
}

.nav-link {
    display: block; /* 한 줄 전체를 차지해서 링크 동작 */
}

/* breakpoints */
/* 2K & 4K */

/* mobile */
@media screen and (max-width: 600px) { /* and 다음에 띄워 써야 함 */
    .nav-toggle {
        display: block; /* nav-toggle 보이게 */
        position: absolute; /* nav-logo 가운데 정렬로 하기 위해 위치 바꿈 */
        cursor: pointer; /* 마우스 커서 모양 변경 */
    }

    
    .nav-logo {
        margin: 0 auto; /* 가운데 정렬 */
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0; /* = width: 100%; */
        top: 44px; /* nav 높이 */
        background-color: #2f2f2f;
    }

    .nav-item {
        padding: 0.5rem 0;
        border-bottom: 1px solid #fff;
        text-align: center; /* 글자 가운데 정렬 */
    }
}